*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Microsoft JhengHei";
  font-size: 15px;
  font-weight: 100;
  text-align: left;
}
@media (min-width: 720px){
  body{
    font-size: 16px;
  }
}

header{
  margin: 0;
  background-color: #2d004d;
  padding: 10px 10px 10px 20px;
  color: snow;
}
@media (min-width: 720px){
  header{
    padding: 5px 20px 10px 80px;
  }
}

button{
  cursor: pointer;
}

footer{
  background-color: #222;
  padding: 20px;
  color: lightgrey;
  text-align: center;
}

a{
  color: wheat;
  text-decoration: none;
}
a:hover{
  color: orange;
}

ul{
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}


.app-title{
  color: snow;
  font-size: x-large;
}

.app-message{
  display: block;
  padding: 20px;
  color: red;
  font-weight: 400;
  text-align: center;
}

.menu-item{
  display: block;
  margin: 5px;
  padding: 0;
}
@media (min-width: 720px){
  .menu-item{
    display: inline-block;
  }
}

.menu-file-picker{
  display: block;
  margin: 5px;
  padding: 0;
}

.file-picker{
  width: 80vw;
  cursor: pointer;
}
@media (min-width: 720px){
  .file-picker{
    width: 400px;
  }
}



.navi-block{
  display: block;
  margin: 5px auto;
  text-align: center;
}

.naviButton{
  margin: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: snow;
  padding: 5px;
  color: grey;
  transition: all 700ms;
}
.naviButton[disabled]{
  opacity: 0;
  cursor: default;
}
.naviButton:hover{
  border: 1px solid grey;
  background-color: orangered;
  color: snow;
}

.filter-title{
  display: inline-block;
  margin: 5px 0 5px 0px;
  border: 1px solid grey;
  padding: 15px;
  cursor: default;
}

.filter{
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid grey;
  background-color: #2d004d;
  padding: 15px;
  color: snow;
  font-family: "Microsoft JhengHei";
  font-size: 16px;
  transition: all 700ms;
}
.filter:hover{
  border-bottom: 1px solid wheat;
}
.filter:focus{
  outline: none;
  border-bottom: 1px solid wheat;
}

.level-filter{
  width: 60px;
}

.level-list{
  cursor: pointer;
}

.keyword-field{
  margin: 5px 0;
}
.keyword-field:focus{
  outline: none;
  border-bottom: 1px solid wheat;
}
.keyword-field::-webkit-input-placeholder{
  color: antiquewhite;
}
.keyword-field::-moz-placeholder { /* Firefox 19+ */
  color: antiquewhite;
}
.keyword-field:-ms-input-placeholder { /* IE 10+ */
  color: antiquewhite;
}
@media (min-width: 720px){
  .keyword-field{
    display: block;
    margin: 5px auto;
    color: snow;
    font-size: 18px;
    font-weight: 100;
  }
}

.btnReset{
  display: inline-block;
  outline: none;
  margin: 5px 0;
  border: 1px solid grey;
  background-color: #2d004d;
  padding: 5px;
  color: lightgrey;
  transition: all 700ms;
}
.btnReset:hover{
  border: 1px solid wheat;
  color: snow;
}
@media (min-width: 720px){
  .btnReset{
    display: inline-block;
  }
}

.record{
  padding: 10px;
  border-bottom: 1px solid darkgrey;
}
@media (min-width: 720px){
  .record{
    padding: 10px 10px 10px 80px;
  }
}

.record-table{
  border-spacing: 0px;
}

.data-title{
  border: 1px solid snow;
  background-color: grey;
  padding: 5px 20px;
  color: snow;
}

.data-value{
  border: 1px solid snow;
  background-color: lightgrey;
  padding: 5px 20px;
  color: black;
}

.other-entity{
  display: inline-block;
  margin: 5px 3px 3px 0;
  border: 0px solid grey;
  border-radius: 3px;
  padding: 0px;
}

.other-entity-title{
  display: inline-block;
  background-color: grey;
  padding: 10px;
  color: snow;
}

.other-entity-content{
  background-color: lightgrey;
  padding: 10px;
  color: black;
}